BODY, P, DIV, UL LI, OL LI, TH, TD { font-family: "Sahitya", "Constantia", Georgia, 'Times New Roman', Times, serif; font-size: 14pt; }

BODY { margin: 0px; position: relative; background-color: white; }

H1, H2, H3 { font-family: "Playball","Constantia", Georgia, 'Times New Roman', Times, serif; }

A { color: #285; font-weight: bold; }

P { margin-bottom: 0.5em; }

.lightener { background-color: #cff3e1; margin-top: 1em; font-size: 1.2em; width: 96%; padding: 2%; }

HEADER { width: 98%; padding: 1%; background-color: #285; color: white; margin-bottom: 1.5em; text-align: center; }
HEADER H1, HEADER H2 { text-shadow: 0px 2px 20px  #000; /*font-weight: bold;*/ text-align: center; }

.foo-item { margin-bottom: 1.5em; }

FOOTER { width: 98%; padding: 1em 1%; background-color: #285; color: white; margin-top: 1.5em; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
FOOTER H3 { font-size: 1.35em; font-weight: bold; }
FOOTER A { color: #a7e9c8; text-decoration: none; font-weight: bold; }

#hero { padding-top: 1em; padding-bottom: 1em; }
#hero H1.hero-title { font-size: 48pt; text-align: center; margin: auto 2%; }
#hero H2.hero-row { font-size: 24pt; text-align: center; margin: auto 2%; }

.post-content .page-logo { max-width: 55%; float: right; margin-left: 1em; margin-bottom: 1.5em; margin-top: 1em; }
.post-content .page-logo IMG { max-width: 100%; }
.post-content .page-logo .logo-caption { font-size: 0.9em; font-style: italic; text-align: center; }
.post-content figure { float: right; padding: 0px; max-width: 50%; }
.post-content figure IMG { max-width: 100%; }
.post-content figure figcaption { font-size: 0.85em; font-style: italic; text-align: right; }
.post-content figure.page-logo { width: 100%; }
.post-content figure.page-logo img { width: 100%; }
.post-content H1 { font-size: 2; color: #279c62; }
.post-content H2 { font-size: 1.75em; color: #279c62; }
.post-content H3 { font-size: 1.4em; color: #279c62; }
.post-content P { text-align: justify; hyphens: auto; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; }

.mapbox { display: block; margin: 1em auto; width: 99%; height: 70%; min-height: 500px; max-height: 800px; }

.elenco { margin: 0px; padding: 0px; list-style-type: none; margin-top: 0.8em; margin-bottom: 1.5em; }
.elenco LI { border-bottom: 1px dotted #31c57b; padding-top: 0.2em; padding-bottom: 0.2em; text-align: center; font-size: 0.9em; }
.elenco LI .indent_class { font-style: italic; }
.elenco LI A { text-decoration: none; }
.elenco .selected { background-color: #cff3e1; }

.indirizzo-bold { font-weight: 800; font-size: 1.1em; }

.sedi-alternative UL { list-style-type: none; }
.sedi-alternative UL LI { font-size: 0.9em; display: inline; }
.sedi-alternative UL LI::after { content: ", "; }

.poesia { white-space: pre-wrap; background-color: #e4f8ee; border: 1px solid #69daa2; padding: 4px; line-height: 120%; border-radius: 8px; }

.firma { text-align: right; margin: 0.3em 0 0.6em 0; }

@media only screen and (min-width: 767px) { #elenco { position: relative; background-color: white; box-shadow: 0px 2px 10px white; }
  #elenco .li-menu-gohome { display: none; }
  #elenco-pagine { position: relative; } }
@media only screen and (min-width: 768px) { LI.li-menu-item-phone { display: none; }
  UL { padding-left: 1.5em; list-style-position: outside; } }
@media only screen and (max-width: 767px) { .elenco { position: fixed; width: 100%; float: left; left: 0; top: 0; min-height: 50px; background-color: #279c62; margin-top: 0px; z-index: 9999; box-shadow: 0px 2px 10px black; }
  .elenco LI { border-bottom: 0px solid #285; }
  .elenco LI.li-menu-gohome { height: 24px; background-color: yellow; margin-top: 8px; margin-left: 8px; width: 24px; float: left; display: block; background-color: #279c62; border-bottom: 0px solid #285; }
  .elenco LI.li-menu-item-phone { float: right; text-align: left; margin-right: 1%; width: 78%; color: white; background-color: #279c62; border-bottom: 0px solid #285; margin-bottom: 0px; margin-top: 0px; text-align: right; font-size: 1em; /*font-family: 'Segoe UI', 'Droid Sans', Tahoma, Geneva, Verdana, sans-serif;*/ }
  .elenco LI.li-menu-item-phone A { color: white; margin-right: 0.5em; }
  .elenco LI.li-menu-item { display: none; float: right; text-align: left; margin-right: 1%; width: 78%; background-color: #279c62; border-bottom: 0px solid #285; margin-bottom: 0px; margin-top: 0px; font-family: 'Segoe UI', 'Droid Sans', Tahoma, Geneva, Verdana, sans-serif; }
  .elenco LI.li-menu-item A { color: white; }
  .elenco LI.indent_class { width: 70%; font-size: 80%; }
  .elenco LI.selected { background-color: #cff3e1; }
  .elenco LI.selected A { color: #185f3c; }
  HEADER { margin-top: 53px; }
  .post-content .page-logo { max-width: 90%; margin: 1em auto; float: none; }
  .post-content .page-logo IMG { max-width: 100%; }
  .post-content .page-logo .logo-caption { font-size: 0.9em; font-style: italic; text-align: center; }
  .post-content figure { padding: 0px; width: 90%; max-width: 90%; margin-left: 5%; text-align: center; }
  .post-content figure IMG { max-width: 100%; }
  .post-content figure figcaption { font-size: 0.85em; font-style: italic; text-align: center; }
  .post-content figure.page-logo { width: 100%; }
  .post-content figure.page-logo img { width: 100%; } }
